$default-color : rgb(6, 251, 6);
$button-color : #27AD6C;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    // overflow-x: hidden;
}

button{
    background-color: $button-color;
    color: white;
    padding: 12px 19px;
    border: none;
    outline-width: 0px;
    border-radius: 3px;
}

resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.header{
    background-image: url('../pics/img_hero-image.png');
    min-height: 100vh;
    color: white;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(0,0,0,.7);
    }

    & a{
        position: absolute;
        right: 30px;
        top: 39px;
        font-size: 24px;
        display: none;
    }

    & >*{
        position: relative;
    }

    & .headerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding : 10px 60px;

        & >*{
            margin-top: 30px;
        }

        & .headerNav__name{
            display: flex;
            column-gap: 4px;
            align-items: center;
            cursor: pointer;

            & h4{
                display: flex;
                align-items: center;
                flex-direction: column;
                text-transform: uppercase;

                & > span{
                    letter-spacing: 6px;
                    margin-top: -5px;
                }
            }

            & h4:hover{
                color: $default-color;
            }

            & img{
                width: 35px;
            }
        }

        & .headerNav__list{
            display: flex;
            align-items: center;

            & a{
                display: none;
            }

            & ul{
                list-style: none;
                width: 280px;
                display: flex;
                column-gap: 40px;

                & >*:hover{
                    color: $default-color;
                }

                & li {
                    cursor: pointer;
                    font-size: 18px;
                }

                & .headerNav__active{
                    color: $default-color;
                }
            }

            & img{
                cursor: pointer;
                margin-left: 58px;
            }
        }
    }

    & .headerInfo{
        display: grid;
        place-items: center;
        margin-top: 160px;

        & h2{
            font-size: 70px;
        }

        & p{
            max-width: 41%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            margin-bottom: 19px;
            color: lightgray;
        }

        & button{
           @extend button;
        }

        & button:hover{
            filter: brightness(87%);
            cursor: pointer;
        }
    }
}

.skills{
    margin-top: 25px;
    padding: 20px;
    display: grid;
    place-items: center;

    & h1{
        font-weight: 600;
        color: gray;
        margin-bottom: 20px;
        font-size: 29px;
    }

    & div{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 30px;

        & .skills__box{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            & img{
                width: 100%;
            }

            & h5{
                color: $default-color;
                font-size: 18px;
            }

            & p{
                margin: 0 15px 15px 15px;
                margin-top: -10px;
            }
        }
    }
}



.resources{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 85px;

    & .resources__news{
        @extend resources;

        & p{
            margin: 10px 0;
            color: #27AD6C;
            padding-right: 180px;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-bottom: 1px solid lightgray;

            & i{
                margin-bottom: 5px;
                color: lightgray;
            }
        }

        & p:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        

        & >*:nth-child(5){
            border-bottom: none;
        }
    }

    & .resources__vertical{
        background: $default-color;
        width: 1px;
        height: 330px;
    }

    & .resources__horizontal{
        display: none;
    }

    & .resources__latest{
        @extend resources;

        & p{
            color: #27AD6C;
            padding-bottom: 5px;
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid lightgray;

            & span{
                color: rgb(204, 204, 204);
            }
        }

        & p:hover{
            text-decoration: underline;
            cursor: pointer;

        }

        & >*:nth-child(5){
            border-bottom: none;
        }
    }
}

.icons{
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

    & .underline{
        height: 1px;
        width: 140px;
        background: $default-color;
    }

    & img{
        width: 50px;
    }
}


.photos{
    display: grid;
    place-items: center;
    margin: 20px;
    padding: 15px;

    & h1{
        font-size: 29px;
        color: gray;
        margin-bottom: 20px;
    }

    & .photosGallery{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;

        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.facilities{
    padding: 56px;
    display: grid;
    place-items: center;
    background: #423633;
    color: white;

    & h1{
        margin-bottom: 50px;
    }

    & .facilities__boxHead{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 40px;
        width: 100%;

        & .facilities__box{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            column-gap: 9px;

            & .facilities__info{
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                & h5{
                    font-size: 19px;
                    text-transform: uppercase;
                }

                & p{
                 color: rgb(158, 157, 157);
                }
            }
        }
    }

    & button{
        @extend button;
        margin-top: 50px;
    }

    & button:hover{
        filter: brightness(85%);
        cursor: pointer;
    }
}

.footer{
    background-color: #333333;
    color: white;
    display: flex;
    padding: 18px 27px;
    justify-content: space-between;

    & p{
        margin-left: 40px;
    }

    & ul{
        display: flex;
        column-gap: 35px;
        list-style: none;
        margin-right: 40px;
    }
}

@media screen and (max-width : 768px){

    .header > a{
        display: block;
        color: $default-color;
    }

    .headerNav.activeheight{
        height: auto;
    }


    .headerNav{
        margin-top: -14px;
        background-color: #423633;
        margin-left: -20px;
        flex-direction: column;
        row-gap: 15px;
        height: 100px;

        & .headerNav__name{
          margin-left: -189px;
          font-size: 18px;
          padding: 0px;
        }

        & .headerNav__list {
            margin-left: -80px;
            flex-direction: column;
            align-items: flex-start;

            & ul > li{
                display: none;
            }

            & ul.activenav{
             flex-direction: column;
             margin-top: -30px;

                & li{
                  display: block;
                   padding: 8px;
                   width: 91vw;
                   margin-left: 20px;
                }

                & li:hover{
                    background-color: gray;
                    color: black;
                }
            }

            & ul > *:nth-child(4){
                padding-bottom: 8px;
                margin-bottom: -10px;
            }

            & img{
             display: none;
            }
        }
    }

    .headerInfo > h2{
        font-size: 31px !important;
    }

    .headerInfo > p{
        max-width: 88% !important;
        text-align: center;
    }

    .headerInfo{
        row-gap: 18px;
    }

    .resources{
        margin: 0 20px;
        flex-direction: column;
        align-items: center;

        & .resources__vertical{
            display: none;
        }

        & .resources__horizontal{
            margin: 50px 0;
            display: block;
            height: 2px;
            width: 300px;
            background: $default-color;
        }
    }

    .facilities__boxHead{
        margin-left: -80px;
    }

    .footer{
        font-size: 12px;

        & ul{
            column-gap: 8px;
        }
    }
}


















